@import url('https://fonts.cdnfonts.com/css/graphik-trial');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Graphik Trial', sans-serif; 
}

main {
    background-image: url('../assets/heroBackground.svg');
    background-size: contain;
    background-repeat:no-repeat;
}

a{
    text-decoration: none;
}

/* COLORS */

.primary-color {
    color: #252B42;
}

.secondary-color {
    color: #374754;
}
/* TYPOGRAPHY */

h1 {
    font-size: 70px;
    margin: 0;
}

h2 { 
    font-size: 44px;
    font-weight: 400;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    margin: 0;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

p {
    line-height: 25px;
    margin: 0;
}
/* PRE-CSS */

.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1366px;
    position: relative;
    padding: 0 80px;
}

.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.al-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-space-btw{
    justify-content: space-between;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.b-radius {
    border-radius: 35px;
}

.ul-default {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 35px;
}

.btn-default {
    background-color: #2091F9;
    color: white;
    border: none;
    width: 200px;
    height: 45px;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    border-radius: 35px;
}

.input-default {
    font-family: 'Graphik Trial', sans-serif;
    background-color: #F4F4F4;
    border: none;
    height: 45px;
    width: 250px;
    padding: 0 20px;
}

.c-pointer{
    cursor: pointer;
}

.txt-area-default {
    font-family: 'Graphik Trial', sans-serif;
    background-color: #F4F4F4;
    border: none;
    height: 180px;
    width: 250px;
    padding: 10px 20px;
    resize: none;
}

/* INDIVIDUAL COMPONENTS CSS */
.center-logo {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

header{
    height: 100vh;
    width: 100%;
    color: white;
}
.nav-itens{
    padding-top: 30px;
}
.nav-itens img {
    padding-left: 50px;
}
.nav-social{
    padding-top: 30px;
}
.nav-social img{
    margin-left: 20px;
}

.hero{
    padding: 100px 200px 0px 200px;
    
    & > h1 {
        line-height: 90px;
        letter-spacing: 1px;
        margin: 10px;
    }

    & > h4 {
        margin-top: 20px;
    }

    & > button {
        margin-top: 80px;
    }
}

.sections-title {
    padding: 100px 350px 0 350px;
}

.features-itens {
    margin: 100px 0px 150px 0px;
}

.features-item {
    width: 200px;

    & > h3 {
        margin-top: 20px;
    }
    & > p{
        margin-top: 20px;
    }
}

.videoContainer {
    margin-top: 100px;
}

.playBtn {
    width: 120px;
    position: absolute;
    top: 780px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 2;
    margin: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.pauseBtn {
    position: absolute;
    top: 730px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    border: none;
    z-index: 1;
    width: 1000px;
    height: 586px;
    background-color: transparent;
}

.mainVideo {
    border-radius: 15px;
    box-shadow: 0px 0px 30px 30px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.box {
    margin-top: 250px;
}

.try-txt-section {
    margin-right: 120px;

    & > button {
        margin-top: 50px;
        font-weight: bold;
    }
}

.sub-txt-section{
    margin-left: 100px;

    & > p {
        margin-bottom: 30px;
    }
}

.sub-txt-section form button{
    width: 150px!important;
}

.clients-section {
    margin-top: 100px;
    gap: 20px;
    flex-wrap: wrap;
}

.client {
    padding: 20px 50px;
    height: 150px;
    border: solid 1px #D8D8D8;
}

.partners button{
    margin-top: 50px;
    font-weight: bold;
}

.testimonials {
    margin-top: 150px;

    & > button {
        font-weight: bold;
        width: 250px!important;
    }
}

.testimonial-item {
    margin: 80px 0px;

    & > h4 {
        margin: 50px 0px;
        padding: 0px 100px;
    }
}

.pricing {
    margin-top: 100px;
    background-color: #252B42;
    color: white;
}

.cards {
    padding: 80px 0;
}

.card-title {
    padding: 0px 100px;
    margin-bottom: 10px;
}

.primary-card {
    width: 335px;
    height: 693px;
    background-color: #2091F9;
    color: white;
    border-radius: 10px;
}

.secondary-card {
    width: 335px;
    height: 607px;
    background-color: white;
    color: #252B42;
    border-radius: 10px;
}

.primary-card ul {
    margin: 10px 0;
    & > li {
        margin: 30px;
    }
}

.primary-card button {
    background-color: white;
    color: #2091F9;
    width: 250px;
}

.secondary-card ul {
    margin: 10px 0;
    & > li {
        margin: 30px;
    }
}

.contact-container {
    padding-bottom: 80px;
}

.contact-section {
    margin-top: 80px;
    gap:50px;
}

.contact-social-icons img{
    color: #2091F9;
}

.contact-card {
    width: 400px;
    height: 669px;
    border-radius: 20px;
    border: solid 1px #DDDD;
    box-shadow: 15px 15px 30px 0px rgba(0,0,0,0.05);
    gap: 40px;
}

.info-section {
    padding: 30px 0px 30px 10px;

    & > iframe {
        margin: 0 auto
    }
}

.info-item {
    padding: 0 10px;

    & > h5 {
        margin-top: 10px;
    }
}

.contact-social-icons a {
    margin-right: 20px;
}
